
.centerPrincipal{
    margin-top: 25%;
    margin-left: 5%;
    margin-right: 5%;
}

.centerSecondary{
    margin-top: 10%;

}

.logoSize{
    width: 150px;
    height: 150px;
}

.fontSize{

    font-size: 20px;
}